# PRIMARY
PRIMARY_COLOR="#5db24e"
PRIMARY_GRIZZLY_COLOR="#a689ff80"
PRIMARY_LIGHT_COLOR="#e6ffe2"
PRIMARY_BRIGHTEST_COLOR="#c7f1c0"

# SECONDARY
SECONDARY_COLOR="#e14141"
SECONDARY_LIGHT_COLOR="#e3ae6f"

# HEADER
HEADER_COLOR="#000"
HEADER_MENU_LINK_COLOR="#fff"
HEADER_MENU_LINK_HOVER_COLOR="#fff"
HEADER_SUBMENU_COLOR="#232323CC"
HEADER_SUBMENU_LINK_COLOR="#fff"
HEADER_SUBMENU_LINK_HOVER_COLOR="#fff"

# MOBILE HEADER
HEADER_MOBILE_COLOR="#000"
HEADER_MOBILE_MENU_LINK_COLOR="#fff"
HEADER_MOBILE_MENU_LINK_HOVER_COLOR="#fff"
HEADER_MOBILE_MENU_LINK_HOVER_BACKGROUND_COLOR="#000"
HEADER_MOBILE_SUBMENU_LINK_COLOR="#fff"
HEADER_MOBILE_SUBMENU_LINK_HOVER_COLOR="#fff"

# FOOTER
FOOTER_COLOR="#000"
FOOTER_CONTENT_COLOR="#7e7e7e"
FOOTER_MENU_LINK_COLOR="#fff"
FOOTER_MENU_LINK_HOVER_COLOR="#fff"

# LINKS
LINKS_COLOR="#eb2f06"
LINKS_HOVER_COLOR="#eb2f06"

# BUTTONS
BUTTONS_CONTENT_COLOR="#fff"

# BODY
BODY_COLOR="#ecf0f4"
BODY_CONTENT_COLOR="#000"

# TABLE
TABLE_COLOR="#fff"
TABLE_CONTENT_COLOR="#000"
TABLE_BORDER_COLOR="#e7edf3"
TABLE_TH_COLOR="#fff"
TABLE_TH_CONTENT_COLOR="#000"

# DARK
DARK_COLOR="#000"
DARK_GRIZZLY_COLOR="#2a2a2a"
DARK_OPACITY_COLOR="#000c"

# WHITE
WHITE_COLOR="#fff"
WHITE_LIGHT_COLOR="#f8f8f8"
WHITE_OPACITY_COLOR="#f2eff833"

# GRIZZLY
GRIZZLY_COLOR="#7e7e7e"
GRIZZLY_LIGHT_COLOR="#f9fafb"
GRIZZLY_DARK_COLOR="#6b7280"

# RED
RED_COLOR="#d63031"

# YELLOW
YELLOW_COLOR="#ffe027"
YELLOW_LIGHT_COLOR="#e3ae6f"