// fonts
@import "fonts";

// swiper
@import "swiper";

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

main,
.wp-block-post-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		-webkit-backface-visibility: hidden;
		font-family: "LINESeedJP", "Arial", sans-serif;
		font-weight: 700;
	}

	h1,
	h1 a {
		font-size: 3.157em;
		line-height: 1.2em;
	}

	h2,
	h2 a {
		font-size: 2.369em;
		line-height: 1.2em;
	}

	h3,
	h3 a {
		font-size: 1.777em;
		line-height: 1.2em;
	}

	h4,
	h4 a {
		font-size: 1.333em;
		line-height: 1.2em;
	}

	h5,
	h5 a {
		font-size: 1em;
		line-height: 1.2em;
	}

	h6,
	h6 a {
		font-size: 0.75em;
		line-height: 1.2em;
	}

	a {
		text-decoration: underline;
		transition-duration: 0.2s;
	}
}

.main-blocks {
	.wp-block-table thead {
		border-bottom: none;
	}

	.ez-toc-list ul li::before {
		content: none;
	}
}

.wp-block-post-content,
.main-blocks {
	ul,
	ol {
		padding-left: 32px;

		li {
			position: relative;
			margin-bottom: 10px;
		}
	}

	ol {
		list-style: decimal;
	}
}

.main-blocks ul:not([class*="ez-toc-list"]) li,
.wp-block-post-content ul li {
	padding-left: 24px;
}

main .block-title,
.main-blocks h1,
.main-blocks h2,
.wp-block-post-content .block-title,
.wp-block-post-content h1,
.wp-block-post-content h2 {
	display: flex;
	align-items: center;
}

main .block-title::before,
.main-blocks h1::before,
.main-blocks h2::before,
.main-blocks ul:not([class*="ez-toc-list"]) li::before,
.wp-block-post-content .block-title::before,
.wp-block-post-content h1::before,
.wp-block-post-content h2::before,
.wp-block-post-content ul li::before {
	display: block;
	width: 16px;
	min-width: 16px;
	height: 16px;
	border-radius: 50%;
	content: "";
}

main .block-title::before,
.main-blocks h1::before,
.main-blocks h2::before,
.wp-block-post-content .block-title::before,
.wp-block-post-content h1::before,
.wp-block-post-content h2::before {
	margin-right: 8px;
}

.main-blocks ul:not([class*="ez-toc-list"]) li::before,
.wp-block-post-content ul li::before {
	position: absolute;
	left: 0;
	margin-top: 4px;
	content: "";
}

// We need to have a .editor-style-wrapper or .wp-block selector inside the css file so
// the file will be enqueued inside the iframe - fucking wordpress
.wp-block {
	opacity: 1;
}
