// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

main,
.wp-block-post-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		-webkit-backface-visibility: hidden;
		font-family: "Roboto", "Arial", sans-serif;
		font-weight: 700;
	}

	h1,
	h1 a {
		font-size: 3.157em;
		line-height: 1.2em;
	}

	h2,
	h2 a {
		font-size: 2.369em;
		line-height: 1.2em;
	}

	h3,
	h3 a {
		font-size: 1.777em;
		line-height: 1.2em;
	}

	h4,
	h4 a {
		font-size: 1.333em;
		line-height: 1.2em;
	}

	h5,
	h5 a {
		font-size: 1em;
		line-height: 1.2em;
	}

	h6,
	h6 a {
		font-size: 0.75em;
		line-height: 1.2em;
	}

	a {
		text-decoration: underline;
		transition-duration: 0.2s;
	}
}

.main-blocks {
	.wp-block-table thead {
		border-bottom: none;
	}
}

.wp-block-post-content,
.main-blocks {
	ul,
	ol {
		padding-left: 32px;

		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;
		}
	}

	ol {
		list-style: decimal;
	}
}

.main-blocks ul:not([class*="ez-toc-list"]) li::before,
.wp-block-post-content ul li::before {
	position: absolute;
	top: 3px;
	left: -13px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	content: "";
}

// We need to have a .editor-style-wrapper or .wp-block selector inside the css file so
// the file will be enqueued inside the iframe - fucking wordpress
.wp-block {
	opacity: 1;
}

.form-row {
	p {
		display: flex;
	}

	input[type="email"] {
		border-radius: 16px 0 0 16px;

		@apply py-3 px-6 border-none w-full h-full placeholder:text-grizzly text-dark;
	}

	input[type="submit"] {
		border-radius: 0 16px 16px 0;
		font-weight: 800;

		@apply py-2 px-6 text-xl uppercase cursor-pointer;

		@media (screen(sm)) {
			@apply text-3xl;
		}
	}

	.wpcf7-spinner,
	.wpcf7-not-valid-tip {
		display: none;
	}
}

.wpcf7-response-output {
	display: none;
}
