// tailwind
@import "toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

main,
.wp-block-post-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		-webkit-backface-visibility: hidden;

		@apply font-bold font-roboto;
	}

	h1,
	h1 a {
		@apply text-3xl;

		@media (screen(lg)) {
			@apply text-4xl;
		}
	}

	h2,
	h2 a {
		@apply text-2xl;

		@media (screen(lg)) {
			@apply text-3xl;
		}
	}

	h3,
	h3 a {
		@apply text-xl;

		@media (screen(lg)) {
			@apply text-2xl;
		}
	}

	h4,
	h4 a {
		@apply text-lg;

		@media (screen(lg)) {
			@apply text-xl;
		}
	}

	h5,
	h5 a {
		@apply text-lg;
	}

	h6,
	h6 a {
		@apply text-base;

		@media (screen(lg)) {
			@apply text-lg;
		}
	}
}

.wpcf7-form {
	// .wpcf7-not-valid-tip
	.wpcf7-spinner {
		display: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		@apply block w-full rounded-xl border-2 px-4 py-5 text-lg outline-none focus:outline-none;

		@media (screen(lg)) {
			@apply px-6;
		}
	}

	input[type="submit"] {
		@apply cursor-pointer flex justify-center items-center text-lg font-medium rounded-xl min-w-52 disabled:opacity-75 w-full py-4 lg:w-auto lg:px-16;
	}

	input[type="radio"],
	input[type="checkbox"] {
		@apply h-6 w-6 focus:ring-primary;
	}

	span.wpcf7-list-item,
	span.wpcf7-list-item label {
		@apply flex items-center gap-x-3 m-0 text-lg leading-6 cursor-pointer;
	}
}

.wpcf7-response-output {
	display: none;
}

// We need to have a .editor-style-wrapper or .wp-block selector inside the css file so
// the file will be enqueued inside the iframe - fucking wordpress
.wp-block {
	opacity: 1;
}
